package chat

templ ChatWindow() {
	<div
		hx-ext="ws"
		ws-connect="/ws"
		class="w-full h-dvh overscroll-hidden max-w-3xl flex flex-col relative"
	>
		@ChatHeader()
		@MessageArea()
		<div class="absolute bottom-0 left-0 right-0 h-24 bg-gradient-to-t from-zinc-950 to-transparent pointer-events-none"></div>
		@ChatInput()
	</div>
}
