name: cd

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1

      - name: Setup Go environment
        uses: actions/setup-go@v6.1.0
        with:
          go-version: "1.25.5"

      - name: Set up Goose migration tool
        run: go install github.com/pressly/goose/v3/cmd/goose@latest

      - id: "auth"
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v3"

      - name: "Use gcloud CLI"
        run: "gcloud info"

      - name: Build docker image and push to Artifact Registry
        run: gcloud builds submit --config=cloudbuild.yaml --substitutions=_TAG=${{ github.sha }}

      - name: DB migration up
        env:
          GOOSE_DRIVER: "postgres"
          GOOSE_DBSTRING: ${{ secrets.DB_URL }}
          GOOSE_MIGRATION_DIR: "./sql/schema"
        run: goose up

      - name: Deploy to Google Cloud Run
        run: gcloud run deploy chatter-server \
          --image asia-southeast1-docker.pkg.dev/chatter-app-483316/chatter-ar-repo/chatter-server:${{ github.sha }} \
          --min-instances 0 \
          --max-instances 4 \
          --set-env-vars 'NATS_URL=tls://connect.ngs.global' --set-env-vars='NATS_CRED=/secrets/nats_cred' \
          --set-secrets DB_URL=DB_URL:latest,JWT_SECRET=JWT_SECRET:latest,/secrets/nats_cred=nats_cred:latest \
          --region asia-southeast1 \
          --project chatter-app-483316 \
          && gcloud run services update-traffic chatter-server --to-latest
